# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Модели слишком тяжелые для Git
resources/piper-voices/*.onnx
resources/piper-voices/*.json

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db